<div class="select-field-wrapper">
  <label class="select-label" *ngIf="label">
    {{ label }}
    <span class="required" *ngIf="required">*</span>
  </label>
  
  <div class="select-dropdown-wrapper" (click)="$event.stopPropagation()">
    <button 
      type="button"
      class="select-dropdown"
      [class.error]="error"
      [class.disabled]="disabled"
      [class.focused]="showDropdown"
      [disabled]="disabled"
      (click)="toggleDropdown()">
      <span>{{ getSelectedLabel() }}</span>
      <i class="fa fa-chevron-down" [class.rotated]="showDropdown"></i>
    </button>
    <div class="select-dropdown-menu" *ngIf="showDropdown">
      <button
        type="button"
        class="select-dropdown-item"
        *ngFor="let option of options"
        [class.active]="value === option.value"
        (click)="onSelectOption(option.value)">
        <span>{{ option.label }}</span>
        <i class="fa fa-check" *ngIf="value === option.value"></i>
      </button>
    </div>
    <button 
      type="button"
      class="clear-btn"
      *ngIf="value && value !== '' && !disabled"
      (click)="clearSelection($event)"
      aria-label="Clear selection">
      <i class="fa fa-times"></i>
    </button>
  </div>
  
  <span class="error-message" *ngIf="error">{{ error }}</span>
</div>

