<div class="select-field-wrapper">
  <label class="select-label" *ngIf="label">
    {{ label }}
    <span class="required" *ngIf="required">*</span>
  </label>
  
  <div class="select-input-wrapper">
    <select 
      class="select-input"
      [class.error]="error"
      [class.disabled]="disabled"
      [class.has-value]="value && value !== ''"
      [disabled]="disabled"
      [required]="required"
      [value]="value"
      (change)="onSelect($event)">
      <option value="">{{ placeholder }}</option>
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
    <button 
      type="button"
      class="clear-btn"
      *ngIf="value && value !== '' && !disabled"
      (click)="clearSelection($event)"
      aria-label="Clear selection">
      <i class="fa fa-times"></i>
    </button>
  </div>
  
  <span class="error-message" *ngIf="error">{{ error }}</span>
</div>

