<div class="job-page">
  <!-- Top Search Bar -->
  <app-search-header
    [pageTitle]="translate('job_page.title')"
    [selectedCategory]="selectedCategory"
    [selectedLocation]="selectedLocation"
    [searchPosition]="searchPosition"
    [categoryPlaceholder]="translate('job_page.category_placeholder')"
    [positionPlaceholder]="translate('job_page.position_placeholder')"
    [locationPlaceholder]="translate('job_page.location_placeholder')"
    [searchButton]="translate('job_page.search_button')"
    [categories]="{
      it: translate('job_page.categories.it'),
      marketing: translate('job_page.categories.marketing'),
      accounting: translate('job_page.categories.accounting')
    }"
    [locationLongAn]="translate('job_data.location_long_an')"
    [locationHanoi]="translate('job_page.locations.hanoi')"
    [locationHcm]="translate('job_page.locations.hcm')"
    [locationDanang]="translate('job_page.locations.danang')"
    (categoryChange)="onCategoryChange($event)"
    (locationChange)="onLocationChange($event)"
    (positionChange)="onPositionChange($event)"
    (search)="onSearch()"
    (clearPosition)="onClearPosition()">
  </app-search-header>


  <!-- Main Content -->
  <div class="main-content" [class.show-detail-job]="selectedJob">
    <!-- Left Column - Filter (Hide when showing detail) -->
    <div class="filter-column" *ngIf="!selectedJob">
      <app-job-filter (filterChange)="onFilterChange($event)"></app-job-filter>
      
      <!-- Clear Filters Button -->
      <button 
        class="clear-filters-btn"
        (click)="onClearFilters()">
        {{ translate('job_filter.clear_filters') }}
      </button>
    </div>

    <!-- Middle Column - Job List -->
    <div class="job-list-column">
      <app-job-list 
        [selectedJobId]="selectedJob?.id"
        (searchJobs)="onSearchJobs($event)"
        (quickView)="onQuickView($event)"
        (jobClick)="onJobClick($event)"
        (jobHidden)="onJobHidden()"></app-job-list>
    </div>

    <!-- Right Column - Job Detail -->
    <div class="job-detail-column" *ngIf="selectedJob">
      <app-job-list-detail
        [selectedJob]="selectedJob"
        (closeDetail)="onCloseDetail()"
        (viewDetail)="onViewDetail($event)"
        (applyJob)="onApply($event)"></app-job-list-detail>
    </div>
  </div>
</div>
