.toggle-switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  flex-shrink: 0;

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .slider {
      background-color: #0F83BA;

      &:before {
        transform: translateX(20px);
      }
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #0F83BA;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bdc3c7;
    transition: 0.4s;
    border-radius: 24px;

    &:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 18px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }

    &.active {
      background-color: #0F83BA;
    }
  }

  &.disabled .slider {
    cursor: not-allowed;
  }
}

